*.log
.DS_Store
.env
.env.local
.env.backup
.env.production
.env.testing
.env.testing.local
.env.dusk.local
.phpactor.json
.phpunit.result.cache
.php_cs.cache
.phpstan.cache
.pint.cache
.cache/
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
database.sqlite
database.sqlite-shm
database.sqlite-wal
*.sqlite
npm-debug.log
npm-error.log
yarn-error.log
pnpm-lock.yaml
coverage/
.coverage
.nyc_output/
test-results/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.AppleDouble
.AppleDB
.com.apple.timemachine.donotpresent
*.tmp
*.temp
*.bak
*.backup
.~*
.editorconfig.bak
*.orig
*.swp
*.swo
*~
.lnk
desktop.ini
ehthumbs.db
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
